name: Lint on pull request

on:
  pull_request

jobs:
  lint:
    runs-on: ubuntu-latest

    permissions:
      security-events: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: correr pylint
        uses: advanced-security/python-lint-code-scanning-action@v1
        with:
          linter: pylint
